<ion-view title="" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="false" class="has-header" ng-class="{expanded:$scope.isExpanded}">
        <div class="hero has-mask slide-up" style="background-image: url('img/PartieEnLigne.png');background-position: center; " id="hero-has-mask" ng-class="{heroUp:hideBlinkingText}">
            <div class="content">
                <h3><a class="light"></a></h3>
            </div>
        </div>
        <div class="mid-bar dark-bg z1 padding animate-fade-slide-in-right blink_me" ng-show="!hideAnswerarea" ng-hide="hideBlinkingText">
            <h3>Répondez le premier aux 10 questions</h3>
        </div>
        <div id="answerArea" class="animated faadeInUp" ng-show="!hideAnswerarea">
            <div class="mid-bar dark-bg z1 padding animate-fade-slide-in-right item-text-wrap text-tenter">
                <h4>{{question.name}}</h4>
            </div>
            <div class="padding">
                <div class="list">
                    <a class="item item-avatar item-icon-right bordered-bottom"
                    ng-repeat="anwser in question.answers"  ng-click="nextQuestion(anwser)">
                        <img src="img/icons/countdown.png">
                        <h2> {{anwser.name}} </h2>
                        <i class="icon ion-help blink_me muted"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card" ng-show="!hideAnswerarea">
            <!-- <div class="item item-text-wrap text-center">
                <h2><strong>Sur un total de {{quizSelected.questions.length}} vous avez réussi à répondre à : {{goodAnswer}} questions</strong></h2>
            </div> -->
            <div class="item">
                <div class="cssProgress">
                    <div class="cssProgress-label2 cssProgress-label2-center"><h4>{{countQuestion+1}} / {{maxQuestion}}</h4></div>
                    <div class="progress3">
                        <div class="cssProgress-bar cssProgress-warning cssProgress-active" style="width: {{ percentEvolution }}%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!hideAnswerarea" class="text-center" ng-show="showTimer">Encore {{countTimer}} s</div>

        <div ng-show="hideAnswerarea">
            <div id="scoreArea" class="scoreArea">
                <div class="button-bar">
                    <button ui-sref="app.home" class="button button-positive waves-effect waves-button waves-classic icon ion-home"> Acceuil</button>
                    <button ui-sref="app.newOrJoinGame" class="button button-calm waves-effect waves-button waves-classic icon ion-loop"> Rejouer</button>
                    <button ui-sref="app.listAllQuiz" class="button button-positive waves-effect waves-button waves-classic icon ion-bowtie"> Autres</button>
                </div>
                <div class="">
                    <div id="g1"></div>
                    <div id="g2"></div>
                    <div id="wrap"></div>
                </div>
                <!-- <div class="card"> -->
                    <!-- <div class="item item-text-wrap text-center">
                        <h2><strong>Sur un total de {{quizSelected.questions.length}} vous avez réussi à répondre à : {{goodAnswer}} questions</strong></h2>
                    </div> -->
                    <!-- <div class="item">
                        <div class="cssProgress">
                            <-- <div class="cssProgress-label2 cssProgress-label2-center"><h1>{{pourcentage}} %</h1></div> ->
                            <div class="progress3">
                                <div class="cssProgress-bar cssProgress-warning cssProgress-active" style="width: {{ pourcentage }}%;"></div>
                            </div>
                        </div>
                    </div> -->
                <!-- </div> -->
            </div>
        </div>
        <!-- <div class="text-center">{{countQuestion+1}} / 10</div> -->
    </ion-content>
</ion-view>
