<ion-view title="home">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/lb2a76NT12Q3B3PkomTA_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" scroll="false" class="has-header">
        <h3>Welcome</h3>
        <div class="spacer" style="width: 282.986px; height: 34.9826px;"></div>
        <div>
            <p>
                <strong>QuizManiac is an interactive quiz !</strong>
            </p>

            <p>Challenge your opponents by responding quickly. Make sure time is your friend.</p>
        </div>
        <div class="spacer" style="width: 282.986px; height: 21.9931px;"></div>
        <a ui-sref="start" class="button button-dark button-block ">Login</a>
    </ion-content>
</ion-view>