<ion-view title="QuizzManiac">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/lb2a76NT12Q3B3PkomTA_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" scroll="false" class="has-header">
        <h3>Bienvenue sur QuizzManiac !</h3>
        <div class="spacer" style="width: 282.986px; height: 34.9826px;"></div>
        <div>
            <p>
                <strong>QuizManiac est un Quizz intéractif !</strong>
            </p>

            <p>Défier vos opposants en répondant le plus rapidement possible.</p>
        </div>
        <div class="spacer" style="width: 282.986px; height: 21.9931px;"></div>
        <a ui-sref="app.signup" class="button button-dark button-block ">Partie en ligne</a>
        <a ui-sref="app.partysolo" class="button button-dark button-block ">Partie solo</a>

    </ion-content>
</ion-view>