<ion-view title="Quiz Maniac">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div>
            <p>Défiez vos opposants en répondant le plus rapidement possible.</p>
             <p>
                <strong>Quelle partie voulez vous rejoindre ?</strong>
            </p>
        </div>
        <div class="spacer" style="width: 282.986px; height: 21.9931px;"></div>
        <div ng-repeat="game in games">
            <a ui-sref="app.waitTheOthers" ng-click="gameSelected(game.id)" class="button button-dark button-block ">{{game.name}}</a>
        </div>
    </ion-content>
</ion-view>
