<ion-view title="Quiz Maniac" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="false" ng-class="{expanded:$scope.isExpanded}" class="has-header">
        <div class="hero game-bg" style="background-image: url('img/PartieEnLigne.png');background-position: center; ">
            <div class="content">
            <div class="spacer" style="width: 100%; height: 200px;"></div>
                <h3><a class="light"></a></h3>
            </div>
        </div>
        <div class="padding">
            <h4>
                <strong>Défiez vos opposants en répondant le plus rapidement possible.</strong>
            </h4>
            <p>
               <strong>Quelle partie voulez vous rejoindre ?</strong>
           </p>
        </div>
        <div class="padding">
            <div class="list">
                <div ng-repeat="game in games">
                    <a ui-sref="app.waitTheOthers" class="item item-avatar item-icon-right bordered-bottom"  ng-click="gameSelected(game.id)">
                        <img lass="full-image" src="img/icons/gamecontroller.png">
                        <h2>{{game.name}}</h2>
                        <i class="icon ion-chevron-right muted"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="animated fadeInUp delay-1s game-bg">
            <div class="bg-scroll">
                <div class="content">
                <div class="spacer" style="width: 100%; height: 500px;"></div>
                    <h3><a class="light"></a></h3>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
