<ion-view title="Join a Game">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/lb2a76NT12Q3B3PkomTA_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" scroll="false" class="has-header">
        <div>
           

            <p>Défier vos opposants en répondant le plus rapidement possible.</p>
             <p>
                <strong>Quelle partie voulez vous rejoindre ?</strong>
            </p>
        </div>
        <div class="spacer" style="width: 282.986px; height: 21.9931px;"></div>
        <div ng-repeat="game in games">
            <a ui-sref="app.waitTheOthers" ng-click="gameSelected(game.id)" class="button button-dark button-block ">{{game.name}}</a>
        </div>
    </ion-content>
</ion-view>