<ion-view title="Liste des Quiz">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list card animated fadeIn">
            <div class="item item-body">
                <h3>
                    Défiez vous même en répondant correctement au maximum de questions.
                </h3>
                <h2>
                    <strong>Quel quiz voulez vous faire ?</strong>
                </h2>
            </div>

        </div>
        <div class="padding row game-bg">
            <div ui-sref="app.partysolo" ng-repeat="quiz in listQuiz" class="col col-50" ng-click="setCurrentQuiz(quiz)">
                <div class="ink card">
                    <h4 class="padding-left padding-right">{{quiz.name}}</h4>
                    <img class="full-image" src="img/lightbulb-quiz.png">
                    <p class="padding-left padding-right padding-top">{{quiz.questions.length}} Questions</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
