<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <!-- <ion-nav-back-button></ion-nav-back-button> -->
            <ion-nav-buttons side="left">
                <button class="button button-clear button-dark button-icon ion-navicon" menu-toggle=""></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-clear button-positiveicon-right {{audioIcon}}" ng-click="toggleSound()">
                  {{audioTexte}}
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <div class="title">Menu</div>
        </ion-header-bar>

        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="app.home" menu-close>Accueil</ion-item>
                <ion-item menu-close>Paramètres</ion-item>
                <ion-item menu-close>Comment jouer</ion-item>
                <ion-item menu-close>A propos</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
