<ion-view title="Nouvelle partie"  hide-back-button="true">
    <ion-content overflow-scroll="true" padding="false" ng-class="{expanded:$scope.isExpanded}" class="has-header">
        <div class="hero game-bg" style="background-image: url('img/{{gameType}}.png');background-position: center; ">
            <div class="content">
            <div class="spacer" style="width: 100%; height: 200px;"></div>
                <h3><a class="light"></a></h3>
            </div>
        </div>
        <div class="padding">
            <h4>
                <strong>Quelle type de partie voulez-vous faire ?</strong>
            </h4>
        </div>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label item-stacked-label">Nom de la partie :</span>
                <input type="text" ng-model="gameInput.name" placeholder="Donnez un nom à votre partie">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nombre de joueurs :</span>
                <input type="number" ng-model="gameInput.numberUser" placeholder="2 joueurs minimum !">
            </label>
        </div>
        <div class="padding">
            <button class="button button-positive button-block icon-left" ng-click="createGame()">
                Créer la partie
            </button>
        </div>
    </ion-content>
</ion-view>
