<ion-view title="New Game">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <form class="list">
            <ion-list>
                <label class="item item-input item-Override">
                    <span class="input-label input-label-Override">Nom de la partie :</span>
                    <input type="text" ng-model="gameInput.name" placeholder="Gameone">
                </label>
                <label class="item item-input item-Override">
                    <span class="input-label input-label-Override">Nombre de joueurs :</span>
                    <input type="number" ng-model="gameInput.numberUser" placeholder="3">
                </label>
            </ion-list>
            <div class="spacer" style="width: 282.986px; height: 28.9896px;"></div>
            <a ui-sref="app.waitTheOthers" ng-click="createGame()" class="button button-dark button-block ">Create a party</a>
        </form>
    </ion-content>
</ion-view>
