<ion-view title="QuizzManiac">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/lb2a76NT12Q3B3PkomTA_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" scroll="false" class="has-header">
        <div>
           

            <p>Défier vos opposants en répondant le plus rapidement possible.</p>
             <p>
                <strong>Que voulez vous faire ?</strong>
            </p>
        </div>
        <div class="spacer" style="width: 282.986px; height: 21.9931px;"></div>
        <a ui-sref="app.newGame" class="button button-dark button-block ">Créer une nouvelle partie</a>
        <a ui-sref="app.joinGame" class="button button-dark button-block ">Rejoindre une partie</a>
    </ion-content>
</ion-view>