<ion-view title="New party">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/Qz7bVDSZiFHlAKLgXioA_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" class="has-header">
        
        <form class="list">
            <ion-list>
                <label class="item item-input item-Override">
                    <span class="input-label input-label-Override">Nom de la partie :</span>
                    <input type="text" placeholder="Gameone">
                </label>
                <label class="item item-input item-Override">
                    <span class="input-label input-label-Override">Nombre de joueurs :</span>
                    <input type="number" placeholder="3">
                </label>
            </ion-list>
            <div class="spacer" style="width: 282.986px; height: 28.9896px;"></div>
            <a ui-sref="waitTheOthers" class="button button-dark button-block ">Create a party</a>
        </form>
    </ion-content>
</ion-view>