<ion-view title="Quiz Maniac">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/lb2a76NT12Q3B3PkomTA_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" scroll="true" class="has-header">
        <h6>Partie : {{quizSelected.name}}</h6>
        <h6>Description : {{quizSelected.description}}</h6>
        <h6>Nombre de questions : {{quizSelected.questions.length}}</h6>
        

        <div class="list">
	    	<!-- <div ng-repeat="question in quizSelected.questions"> -->
			  
			  <div  class="item item-divider">
			    {{quizSelected.questions[countQuestion].name}}
			  </div>

			  <a ng-repeat="anwser in quizSelected.questions[countQuestion].answers" class="item" ng-click="nextQuestion(anwser)" href="#">
			  {{anwser.name}}
			  </a>

		  <!-- </div> -->
		</div>
		<!-- <div class="list">
	    	<div ng-repeat="question in quizSelected.questions">
			  
			  <div  class="item item-divider">
			    {{question.name}}
			  </div>

			  <a ng-repeat="anwser in question.answers" class="item" href="#">
			    {{anwser.name}}
			  </a>

		  </div>
		</div> -->
		<!-- <div class="spacer" style="width: 282.986px; height: 800px;"></div>
		<ion-view>
		  <ion-slide-box>
		    <ion-slide>
		      <div >
		        <button ng-click="nextSlide()">Next slide!</button>
		      </div>
		    </ion-slide>
		    <ion-slide>
		      <div class="box red">
		        Slide 2!
		      </div>
		    </ion-slide>
		  </ion-slide-box>
		</ion-view> -->

    </ion-content>
</ion-view>