<ion-view title="Quiz">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/T22Q198TSAStZIN9kCXp_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" class="has-header">
        <h3>Question : 1/10</h3>
        <div class="spacer" style="width: 282.969px; height: 23.9861px;"></div>
        <form class="list">
            <ion-item class="range range-dark">Range
                <input type="range" value="2" min="0" max="20">
            </ion-item>
        </form>
        <div class="list card">
            <div class="item item-divider">What's the name of simba's father ?</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Simba</ion-item>
                    <ion-item>Skar</ion-item>
                    <ion-item>Moufassa</ion-item>
                </ion-list>
                <ion-list></ion-list>
                <ion-list></ion-list>
            </div>
        </div>
        <form class="list"></form>
        <button class="button button-light button-clear button-block ">Go !</button>
    </ion-content>
</ion-view>