<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/lb2a76NT12Q3B3PkomTA_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" scroll="false" class="has-header">
    <h5>Avant de jouer vous devez entrer votre pseudo.</h5>
        <form class="list">
            <ion-list>
                <label class="item item-input item-Override">
                    <span class="input-label input-label-Override">Pseudo :</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="start" class="button button-dark button-block ">Valider</a>
        </form>
    </ion-content>
</ion-view>