<ion-view title="Start">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/OYF3z3TseeYi3NY3bmRg_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" scroll="false" class="has-header">
        <h4>What do you want to do ?</h4>
        <div class="spacer" style="width: 283px; height: 41px;"></div>
        <a ui-sref="newParty" class="button button-dark button-block  icon-left ion-android-contacts button-full">New party</a>
        <button class="button button-dark button-block  icon-left ion-android-contacts button-full">Join a party</button>
        <button class="button button-dark button-block  icon-left ion-android-contact">Play alone</button>
    </ion-content>
</ion-view>