<ion-view title="ThemsSelcted">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/1G8SlooSXCkKooV18F6Q_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" class="has-header">
        <div class="spacer" style="width: 282.986px; height: 29px;"></div>
        <div style="text-align:center;">
            <img src="img/3DZWuIMqTdqJfD4q3ue4_horloge.png" width="100%" height="auto">
        </div>
        <h3>Theme selected :</h3>
        <h4>Music</h4>
        <a ui-sref="themes" class="button button-light button-clear button-block ">Go !</a>
    </ion-content>
</ion-view>