<ion-view title="Themes">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/QAqTwCpQaWDldgOZlQOM_850ccb1e4b169a36961e408640e07882_large.jpg) no-repeat center;" class="has-header">
        <h4>Select your theme :</h4>
        <div>
            <p>The theme selected will be that which received the most votes.</p>
        </div>
        <div class="spacer" style="width: 283px; height: 33px;"></div>
        <a ui-sref="themsSelcted" class="button button-dark button-block ">Music</a>
        <button class="button button-dark button-block ">Cultur</button>
    </ion-content>
</ion-view>