/* Empty. Add your own CSS if you like */

/* CSS for signup page */
.item-Override {
    background-color: transparent;
}
.input-label-Override{
	color:white;
}
.game-bg{
	background-color: #518ea0;
}
.text-center{
	text-align: center;
}

.cntdwn {
    position: relative;
    float: left;
}

.cntdwn h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 1s linear;
}