/* Empty. Add your own CSS if you like */

/* CSS for signup page */
.item-Override {
    background-color: transparent;
}
.input-label-Override{
	color:white;
}
.game-bg{
	background-color: #518ea0;
}
ion-content, .game-bg-light{
	background-color: #eadea8;
}
.text-center{
	text-align: center;
}
.break-word {
    word-wrap: break-word !important;
}

.hero.heroUp {
    height: 0px;
    animation-name: slideOutUp;
    visibility: hidden;
    transition:height 1s ease, visibility 2s ease;
}
.hideUpElement{
    height: 0px;
    opacity: 0;
    animation-name: slideOutUp;
    visibility: hidden;
    transition:height 1s ease, all 2s ease;
}
.answerArea{
    visibility: hidden;
    opacity: 0;
}
.answerArea.visibleUpElement{
    opacity: 1;
    visibility: visible;
    transition:height 1s ease, all 2s ease;
}
