/* Empty. Add your own CSS if you like */

/* CSS for signup page */
.item-Override {
    background-color: transparent;
}
.input-label-Override{
	color:white;
}
.game-bg{
	background-color: #518ea0;
}
.text-center{
	text-align: center;
}